body {
    margin: 0 auto;
    background-color: #A1D490;
    text-align: center;
}

#hearts {
    position: relative;
    height: 500px;
    width: 350px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 10%;
}

#spade {
    font-size: 90px;
    margin: auto;
}

.center {
    position: relative;
    top: 100px;
}

.small-spade {
    position: absolute;
    font-size: 32px;
}

.left {
    left: 25px;
    top: 90px;
}

.right {
    -webkit-transform: rotate(-180deg);
    left: 290px;
    top: 395px;
}

#ace-left {
    position: relative;
    font-size: 45px;
    top: -15px;
    left: -135px;
}

#ace-right {
    position: absolute;
    font-size: 45px;
    top: 435px;
    left: 290px;
    -webkit-transform: rotate(-180deg);
}



.shape {
    transform: rotate(180deg);
}

.heart {
    background-color: black;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.heart:before,
.heart:after {
    content: "";
    background-color: black;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
}

.heart:before {
    top: -15px;
    left: 0;
}

.heart:after {
    left: 15px;
    top: 0;
}

.tale {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 20px solid black;
    transform: rotate(45deg);
    position: absolute;
    bottom: 20px;
    right: -3px
}